<!-- About Us first dropdown page -->
  <div ng-include="'templates/PartialPage/HomeNavigation.html'"></div>
<div class="container-fluid">
    <div class="row">
        <img src="./img/inner-banner.jpg" width="100%" />
    </div>
</div>

<div class="container">
    <div class="col-lg-12  page-header text-center">
        <h1><strong>Executive <span class="text-orange">Director</span></strong> </h1>
        <img src="./img/director-img.jpg" style="border-radius: 50%; margin: 5% 0 2%" />
        <p class="text-grey"><b>Executive Director,</b><br />
            Fabian P. Blache III, CAO</p>
        <br />
        <p>Fabian P. Blache III, is the Executive Director & Chief Administrative Officer of the SORT CA State Board of Private Security Examiners.  Mr. Blache comes from a 31-year background steeped in protecting the public.  Prior to joining the Sort CA, he was a Police Officer with the New York City Police Department (NYPD), a Criminal Investigator with Louisiana Office of the Attorney General, Security Director for Jazz Enterprises, Section Chief of Homeland Security at the Governors Office of Homeland Security & Emergency Preparedness (GOHSEP), and most recently served the state as Section Chief of Licensure, Investigations & Workforce Development for the DHH Bureau of Emergency Medical Services.</p>
        <p>
            He is a member of the New York City Police Department Honor Legion, a member of the American Society for Industrial Security (ASIS), and serves 1st Vice President of IASIR (the International Association of Security and Investigative Regulators).
        </p>
        <p>
            I am extremely excited about working with the Sort CA staff and the private security industry, and look forward to helping owners and job-seekers in their quest to be the best private security force in the nation, said Blache III.
        </p>
    </div>
</div>
<!-- About Us first dropdown page end -->
